.anchor {    
    border: none;
    color: $colTextDark;
    font-weight: bold;

    &:hover { border: none; }
}

.aperture { 
    border: 1px solid $colDark;
	@include vendor(border-radius, 50%);
	@include vendor(box-shadow, 0 0 10px $colDark);
}

.bold { 
	font-weight: bold; 
}

.center { 
	text-align: center; 
}

.centerer {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 960px; 
}

.deprecated_browser {
    background-color: white;
    border: 2px solid red;
    padding: 0.25em;
    position: fixed;
    z-index: 2;
}

.disabled { 
	opacity: 0.25; 
}

.huge { 
	font-size: 3em; 
}

.indent {
    margin-left: 2em;
}

.left { 
	float: left; 
}

.narrow { 
	margin-left: 5em !important; 
}

.normal { 
	font-weight: normal !important; 
}

.right { 
	float: right !important; 
}

.spacer {
    display: block;
    width: 100%;
    height: 1em;
}

.stripe {
    background-color: $colMiddle;
    display: block;
    width: 100%;
}

.super {
    font-size: 0.75em;
    vertical-align: super;
}

.symbol {            
    font-family: Genericons;
    padding-right: 0.5em;
    vertical-align: bottom;
}

.white_link {
    border-bottom: 1px dotted $colTextLight;
    color: $colTextLight;    

    &:hover {
        border-bottom: 1px solid $colTextLight;
    }
}