.aperture {
	border: 1px solid $colTextDark;
	@include vendor(border-radius, 50%);
}

.centerInLayout {
	margin: 0 auto;
	min-width: $widthAbsolute;
	width: $widthRelative;
}

.right {
	text-align: right;
}

.symbol {
	font-family: "Genericons";
	vertical-align: middle;
}
