.aperture {
	border: 1px solid $colTextDark;
	@include vendor(border-radius, 50%);
}

.bold { font-weight: bold; }

.centerInLayout {
	margin: 0 auto;	
	max-width: 100%;
	min-width: $widthContentMin;
	position: relative;	
	width: $widthContent;
	padding: 0 $space;
}

.floatRight {
	float: right;
}

.halfWidth {
	min-width: 150px;
	width: 50%;
}

.right {
	text-align: right;
}

.symbol {
	font-family: "Genericons";
	margin-right: 0.25em;
	vertical-align: middle;
}
