h2 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em; }

img {
  display: block;
  margin: 1em auto;
  max-width: 100%; }

p {
  margin-bottom: 1em; }

ul li {
  line-height: 1.5em; }

ul.noBullet {
  list-style: none;
  margin-left: 0em; }
