a {
    border-bottom: 1px dotted $colMiddle;
    color: $colMiddle;
    font-weight: bold;
    text-decoration: none;    

    &:hover { border-bottom: 1px solid $colMiddle; }
}

a[href^="http"]:after {
	content: "\f442";
	font-family: Genericons;
	vertical-align: bottom;
}

address {
	font-style: normal;
	line-height: 1.5em;
    margin-bottom: 1em;
}

em {
    font-style: normal;
    font-weight: bold;
}

h1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-top: 1.33em;
}

h1:first-child { margin-top: 0; }

h2 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}

img.left {
    display: block;
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

small {
	font-size: 0.83em;
}

main {

	code {
		background-color: #eef;
		border: 1px solid $colDark;		
		padding: 0 0.2em;
	}

	.highlight code {
		background-color: transparent;
	}

	img {
		@include vendor(box-shadow, 0 0 1em $colDark);
		display: block;
		margin: 2em auto;
		max-width: 100%;		
	}

	table {
		margin: 2em auto 2em;
		text-align: center;

		td, th {
			border: 2px solid $colBackground;
			padding: 0.5em;			
		}

		th {
			font-weight: bold;		
		}

		tr:nth-child(even) {
			background-color: $colLight;
		}

		tr:nth-child(odd) {
			background-color: $colMiddle;
		}
	}

}

ol, ul {
	list-style-position: inside;
    margin-left: 1.5em;    
    margin-bottom: 1em;

    li {
        line-height: 1.5em;
        margin-bottom: 0.5em;
        &:last-child { margin-bottom: 0; }
    }
}

ul.no_bullet {
    list-style: none;
    margin-left: 0;

    .headline {       
        display: block;
        margin-left: 7em;
    }
}