/*
    mixins
*/

@mixin vendor($property, $value) {	
	-ms-#{$property}: $value;
	-moz-#{$property}: $value;
	-o-#{$property}: $value;
	-webkit-#{$property}: $value;
	#{$property}: $value;
}


/*
    color definitions
*/

$colBackground: ivory;
$colLight: #d6dbd6; //#dde1e6; //#c9d9e8;
$colMiddle: #789; //#789;
$colDark: black; //#3e3e3b; //#60605a;
$colDarkTransparent: rgba(0, 0, 0, 0.5);
$colTextLight: white;
$colTextDark: black;


/*
	other variables
*/

$fontName: "fInconsolata";
$logoHeight: 20%;