/*
    mixins
*/

@mixin vendor($property, $value) {	
	-ms-#{$property}: $value;
	-moz-#{$property}: $value;
	-o-#{$property}: $value;
	-webkit-#{$property}: $value;
	#{$property}: $value;
}


/*
    color definitions
*/

$colBackground: #aaa;
$colForeground: ivory;
$colHeaderBackground: #777;
$colLink: $colHeaderBackground; //#789;
$colTableLight: #ddd;
$colTableDark: $colBackground;
$colTextLight: #fff;
$colTextDark: #000;


/*
	sizes
*/

$heightHeader: 4.5em;
$marginDefault: 1em;
$marginHeader: 0.75em;
$lineHeight: 1.5em;
$space: 1em;
$spaceSmall: $space;
$widthAside: 33%;
$widthContent: 60%;
$widthContentMin: 1200px;


/*
	other variables
*/

$fontName: "Inconsolata";