@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
/* 
	html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com 
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*
    mixins
*/
/*
    color definitions
*/
/*
	sizes
*/
/*$colBackgroundTransparent: rgba(255, 255, 240, 0.75);
$colLight: #d6dbd6; //#dde1e6; //#c9d9e8;
$colMiddle: #789; //#789;
$colDark: black; //#3e3e3b; //#60605a;
$colTextLight: white;
$colTextDark: black;*/
/*
	other variables
*/
#homeLink {
  color: white;
  border: none; }

a {
  border-bottom: 1px dotted lightslategrey;
  color: lightslategrey;
  text-decoration: none; }

a[href^="http"]:after {
  content: "\f442";
  font-family: "Genericons";
  vertical-align: bottom; }

a:hover {
  border-bottom: 1px solid lightslategrey; }

a.tag {
  background-color: #aaaaaa;
  border: none;
  color: white;
  display: inline-block;
  float: left;
  font-size: 0.75em;
  margin-bottom: 0.25em;
  margin-left: 0em;
  margin-right: 0.25em;
  padding: 0.25em 0.5em; }

address {
  font-style: normal; }

em {
  font-weight: bold;
  font-style: normal; }

h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.75em;
  margin-top: 1.5em; }

h2 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.75em;
  margin-top: 1.5em; }

h1:first-child, h2:first-child {
  margin-top: 0em; }

img {
  display: block;
  margin: 1em auto;
  max-width: 100%; }

p {
  margin-bottom: 1em; }

ul {
  margin-left: 1em;
  margin-top: 0.75em; }
  ul li {
    line-height: 1.5em; }

ul.noBullet {
  list-style: none;
  margin-left: 0em; }

.aperture {
  border: 1px solid black;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.centerInLayout {
  margin: 0 auto;
  min-width: 960px;
  width: 50%; }

.right {
  text-align: right; }

.symbol {
  font-family: "Genericons";
  vertical-align: middle; }

/*
	webfonts
*/
/*
	local fonts
*/
@font-face {
  font-family: 'Genericons';
  src: url("../media/font/genericons-regular-webfont.eot");
  src: url("../media/font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../media/font/genericons-regular-webfont.woff") format("woff"), url("../media/font/genericons-regular-webfont.ttf") format("truetype"), url("../media/font/genericons-regular-webfont.svg#genericonsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Inconsolata";
  src: url("../media/font/inconsolata-regular.eot");
  src: url("../media/font/inconsolata-regular.eot?#iefix") format("embedded-opentype"), url("../media/font/inconsolata-regular.woff") format("woff"), url("../media/font/inconsolata-regular.ttf") format("truetype"), url("../media/font/inconsolata-regular.svg#inconsolataregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Inconsolata";
  src: url("../media/font/inconsolata-bold.eot");
  src: url("../media/font/inconsolata-bold.eot?#iefix") format("embedded-opentype"), url("../media/font/inconsolata-bold.woff") format("woff"), url("../media/font/inconsolata-bold.ttf") format("truetype"), url("../media/font/inconsolata-bold.svg#inconsolatabold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../media/font/opensans-regular.eot");
  src: url("../media/font/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../media/font/opensans-regular.woff") format("woff"), url("../media/font/opensans-regular.ttf") format("truetype"), url("../media/font/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../media/font/opensans-bold.eot");
  src: url("../media/font/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../media/font/opensans-bold.woff") format("woff"), url("../media/font/opensans-bold.ttf") format("truetype"), url("../media/font/opensans-bold.svg#open_sansbold") format("svg");
  font-weight: bold;
  font-style: normal; }

/*
    ===============================
    basic layout and style settings
    ===============================
*/
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inconsolata", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

body, html {
  height: 100%; }

body {
  background-color: #aaaaaa;
  color: black;
  display: block;
  font-size: 12pt;
  overflow-y: scroll;
  width: 100%; }

/*
    ==========
    basic tags
    ==========
*/
#container {
  background-color: transparent;
  display: block;
  line-height: 1.2em;
  margin: 0 auto;
  margin-bottom: 2em;
  min-width: 960px;
  width: 50%;
  padding-bottom: 6em; }

#container:after {
  clear: both;
  content: "";
  display: block; }

#wrap {
  min-height: 100%; }

aside {
  border-left: 2em solid #aaaaaa;
  background-color: ivory;
  float: right;
  padding: 2em;
  width: 40%; }

footer {
  background-color: #666666;
  color: white;
  display: block;
  font-size: 1em;
  line-height: 6em;
  margin-top: -6em; }

header {
  background-color: #666666;
  color: white;
  display: block;
  font-size: 2em;
  line-height: 3em;
  margin-bottom: 1em; }

main {
  background-color: ivory;
  display: inline-block;
  padding: 2em;
  width: 60%; }

nav {
  float: right;
  font-size: 0.5em; }
  nav a {
    border-bottom: 1px dotted white;
    color: white;
    margin-left: 1em;
    text-decoration: none; }
  nav a:hover {
    border-bottom: 1px solid white; }
