@import "_reset.scss";
@import "_variables.scss";
@import "_tags.scss";
@import "_classes.scss";
@import "_font.scss";

/*
    ===============================
    basic layout and style settings
    ===============================
*/

* {
	@include vendor(box-sizing, border-box);	
	font-family: $fontName, sans-serif;    
    font-weight: normal;
    margin: 0;
    padding: 0;
	word-wrap: break-word;
}

body, html {
    height: 100%;
}

body {
    background-color: $colBackground;
    color: $colTextDark;
    display: block;
    font-size: 12pt;        
    overflow-y: scroll;
    width: 100%;    
}


/*
    ==========
    basic tags
    ==========
*/

#container {
    background-color: transparent;
    display: block;
    line-height: 1.2em;        
    margin: 0 auto;
    margin-bottom: 2em;    
    min-width: $widthAbsolute;
    width: $widthRelative;        
    padding-bottom: 6em;
}

#container:after {
    clear: both;
    content: "";
    display: block;
}

#wrap {
    min-height: 100%;
}

aside {    
    border-left: 2em solid $colBackground;
    background-color: $colForeground;
    float: right;
    padding: $padding;
    width: 40%;
}

footer {
    background-color: $colHeaderBackground;
    color: $colTextLight;
    display: block;
    font-size: 1em;
    line-height: 6em;    
    margin-top: -6em;    
}

header {
    background-color: $colHeaderBackground;
    color: $colTextLight;
    display: block;
    font-size: 2em;
    line-height: 3em;
    margin-bottom: 1em;        
}

main {
    background-color: $colForeground;        
    display: inline-block;    
    padding: $padding;
    width: 60%;
}

nav {
    float: right;
    font-size: 0.5em;

    a {
        border-bottom: 1px dotted $colTextLight;
        color: $colTextLight;
        margin-left: 1em;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 1px solid $colTextLight;
    }
}


