@import "_reset.scss";
@import "_variables.scss";
@import "_tags.scss";
@import "_classes.scss";
@import "_font.scss";

/*
    ===============================
    basic layout and style settings
    ===============================
*/

* {
	@include vendor(box-sizing, border-box);	
	font-family: $fontName, sans-serif;    
    font-weight: normal;
    margin: 0em;
    padding: 0em;
	word-wrap: break-word;
    overflow-wrap: break-word;
}

body, html {
    height: 100%;
}

body {
    background-color: $colBackground;
    color: $colTextDark;
    display: block;
    font-size: 1em;
    overflow-y: scroll;
    position: relative;
    width: 100%;    
}


/*
    ==========
    basic tags
    ==========
*/

#asideContainer {
    background-color: $colForeground;
    display: block;
    padding: $space;    
    vertical-align: top;
}

#container {    
    display: table;
    line-height: $lineHeight;
    margin-bottom: $space;
    padding-bottom: $heightHeader;
    position: relative;
}

#rowContainer {    
    display: table-row;        
}

#wrap {        
    min-height: 100%;    
}

article {
    background-color: $colForeground;
    margin-bottom: $space;
    padding: $space;    

    &:last-child { margin-bottom: 0em; }
}

aside {  
    display: table-cell;        
    margin: 0;    
    overflow: hidden;
    vertical-align: top;
    width: $widthAside;        
}

footer {
    background-color: $colHeaderBackground;
    color: $colTextLight;
    display: block;
    line-height: $heightHeader;
    margin-top: -$heightHeader;
}

header {    
    background-color: $colHeaderBackground;
    color: $colTextLight;
    display: block;
    line-height: $heightHeader;    
    margin-bottom: $space;    
    position: relative;    
    width: 100%;    

    .centerInLayout { 
        display: table; 

    }

    input, label { display: none; }    

    ul {
        display: inline;
        float: right;        
        list-style: none;        
        margin: 0em;
        padding: 0em;

        /*a {
            border-bottom: 1px dotted $colTextLight;
            color: $colTextLight;
            text-decoration: none;

            &:hover { border-bottom: 1px solid $colTextLight; }
        } */       

        li {
            display: inline;
            margin-left: 1em;

            &:first-child { margin-left: 0em; }
        }
    }  
}

main {
    display: table-cell;    
    vertical-align: top;
}

section {
    background-color: $colForeground;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: $space / 1.5;
    padding: $space / 1.5;    
    position: relative;

    &:before {
        content: "> ";
    }
}


/*
    media queries
*/

@media all and (max-width: 1279px) {
    .centerInLayout {
        max-width: $widthContentMin;
        min-width: 0px;
        width: 100%;
    }
}

/* smaller spaces and <aside> beneath <main> */
@media all and (max-width: 799px), all and (orientation: portrait) {    
    /* use entire width of display now */
    .centerInLayout { 
        min-width: 0px;
        padding: 0 $spaceSmall;
        width: 100%;
    }    

    /* adjust to small space between elements */
    #asideContainer { padding: $spaceSmall; }
    #container { padding: 0 $spaceSmall; padding-bottom: 5em; }
    //#homeLink { margin-left: $spaceSmall / 1.5; }
    article { padding: $spaceSmall; }
    article, article:last-child, #container { margin-bottom: $spaceSmall; }    
    footer { margin-top: -5em; }
    header { margin-bottom: $spaceSmall; padding: 0; }
    //header ul { margin-right: $spaceSmall; }    
    section { margin-bottom: $spaceSmall / 1.5; }
    section { padding: $spaceSmall / 1.5; }

    /* place <aside> under <main> instead of beneath it */
    article:last-child { margin-bottom: $spaceSmall; }
    #container, #rowContainer, main, aside { display: block; }
    #spacer { display: none; }
    main, aside {        
        padding: 0;
        width: 100%;
    }    
}


/* move navigation into a (by default closed) menu */
@media all and (max-width: 639px) {
    #navSwitch:checked + div { border-bottom: 1px dotted $colTextLight; }
    #navSwitch + div > ul { display: none; }

    #navSwitch:checked + div > ul {                 
        display: block;
        line-height: $lineHeight;
        margin: 0em;
        padding: 1.5 * $spaceSmall 0;
        text-align: right;        
        width: 100%;

        a { margin: 0em; }
        li { display: block; }    
    }   

    label[for="navSwitch"] {                
        line-height: $heightHeader;
        cursor: pointer;
        display: block;
        float: right;        
    }

}


/* smaller font for low-resolution-devices */
@media all and (max-width: 319px) {
    body { font-size: 0.75em; }
}


/* even smaller font for lowest-resolution devices */
@media all and (max-width: 239px) {
    body { font-size: 0.5em; }    
    .halfWidth { 
        min-width: 0px;
        width: 150px; 
        max-width: 100%;
    }
}


@media print {        
    #disqus_thread, #spacer, header, main article:last-child, section, aside, footer { display: none; }
    body, html { height: auto; }
    main { margin: 0; padding: 0; }    
    img {
        display: block !important;
        page-break-after: auto;
        page-break-before: auto;
        page-break-inside: avoid;
    }
}