@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
/* 
	html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com 
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*
    mixins
*/
/*
    color definitions
*/
/*
	sizes
*/
/*
	other variables
*/
#homeLink {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  border: none; }

#spacer {
  display: block;
  min-width: 1em;
  max-width: 1em;
  width: 1em; }

a {
  border-bottom: 1px dotted #777777;
  color: #777777;
  font-weight: bold;
  text-decoration: none; }

a[href^="http"]:after {
  content: "\f442";
  font-family: "Genericons";
  vertical-align: bottom; }

a:hover {
  border-bottom: 1px solid #777777; }

a.tag {
  background-color: #aaaaaa;
  border: none;
  color: white;
  display: inline-block;
  font-size: 0.75em;
  margin: 0em 0.25em 0.25em 0em;
  padding: 0.25em 0.75em; }
  a.tag:hover {
    background-color: #777777; }

address {
  font-style: normal; }

em {
  font-weight: bold;
  font-style: normal; }

h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.75em;
  margin-top: 1.5em; }

h2 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.75em;
  margin-top: 1.5em; }

h1:first-child, h2:first-child {
  margin-top: 0em; }

img {
  display: block;
  margin: 0em auto;
  max-width: 100%;
  width: 75%; }

p {
  margin-bottom: 1em; }

p:last-child {
  margin-bottom: 0em; }

table {
  margin: 2em auto 2em;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0em; }
  table td, table th {
    border: 2px solid ivory;
    padding: 0.5em; }
  table th {
    font-weight: bold; }
  table tr:nth-child(even) {
    background-color: #dddddd; }
  table tr:nth-child(odd) {
    background-color: #aaaaaa; }

ul {
  margin-left: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

#dropDown {
  position: relative; }
  #dropDown #dropDownSwitch + ul {
    display: none; }
  #dropDown #dropDownSwitch:checked + ul {
    display: block; }
  #dropDown a {
    border: none;
    color: black;
    display: block;
    font-weight: normal; }
  #dropDown input {
    display: none; }
  #dropDown label {
    border: 1px solid black;
    cursor: pointer;
    display: block;
    padding: 0em 0.25em;
    width: 100%; }
    #dropDown label span {
      float: right; }
    #dropDown label:after {
      content: "";
      clear: both;
      display: block; }
  #dropDown li {
    cursor: pointer;
    display: block;
    padding: 0em 0.25em; }
    #dropDown li:hover {
      background-color: #aaaaaa; }
  #dropDown ul {
    background-color: ivory;
    border: 1px solid black;
    list-style: none;
    margin: 0em;
    margin-top: 0.125em;
    max-height: 7.5em;
    overflow-y: scroll;
    position: absolute;
    width: 100%; }

ul.noBullet {
  list-style: none;
  margin-left: 0em; }

.aperture {
  border: 1px solid black;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.bold {
  font-weight: bold; }

.centerInLayout {
  margin: 0 auto;
  max-width: 100%;
  min-width: 1200px;
  position: relative;
  width: 60%;
  padding: 0 1em; }

.floatRight {
  float: right; }

.halfWidth {
  min-width: 150px;
  width: 50%; }

.right {
  text-align: right; }

.symbol {
  font-family: "Genericons";
  margin-right: 0.25em;
  vertical-align: middle; }

/*
	webfonts
*/
/*
	local fonts
*/
@font-face {
  font-family: 'Genericons';
  src: url("../media/font/genericons-regular-webfont.eot");
  src: url("../media/font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../media/font/genericons-regular-webfont.woff") format("woff"), url("../media/font/genericons-regular-webfont.ttf") format("truetype"), url("../media/font/genericons-regular-webfont.svg#genericonsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Inconsolata";
  src: url("../media/font/inconsolata-regular.eot");
  src: url("../media/font/inconsolata-regular.eot?#iefix") format("embedded-opentype"), url("../media/font/inconsolata-regular.woff") format("woff"), url("../media/font/inconsolata-regular.ttf") format("truetype"), url("../media/font/inconsolata-regular.svg#inconsolataregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Inconsolata";
  src: url("../media/font/inconsolata-bold.eot");
  src: url("../media/font/inconsolata-bold.eot?#iefix") format("embedded-opentype"), url("../media/font/inconsolata-bold.woff") format("woff"), url("../media/font/inconsolata-bold.ttf") format("truetype"), url("../media/font/inconsolata-bold.svg#inconsolatabold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../media/font/opensans-regular.eot");
  src: url("../media/font/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../media/font/opensans-regular.woff") format("woff"), url("../media/font/opensans-regular.ttf") format("truetype"), url("../media/font/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../media/font/opensans-bold.eot");
  src: url("../media/font/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../media/font/opensans-bold.woff") format("woff"), url("../media/font/opensans-bold.ttf") format("truetype"), url("../media/font/opensans-bold.svg#open_sansbold") format("svg");
  font-weight: bold;
  font-style: normal; }

/*
    ===============================
    basic layout and style settings
    ===============================
*/
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inconsolata", sans-serif;
  font-weight: normal;
  margin: 0em;
  padding: 0em;
  word-wrap: break-word;
  overflow-wrap: break-word; }

body, html {
  height: 100%; }

body {
  background-color: #aaaaaa;
  color: black;
  display: block;
  font-size: 1em;
  overflow-y: scroll;
  width: 100%; }

/*
    ==========
    basic tags
    ==========
*/
#asideContainer {
  background-color: ivory;
  display: block;
  padding: 1em;
  vertical-align: top; }

#container {
  display: table;
  line-height: 1.5em;
  margin-bottom: 1em;
  padding-bottom: 5em;
  position: relative; }

#rowContainer {
  display: table-row; }

#wrap {
  min-height: 100%; }

article {
  background-color: ivory;
  margin-bottom: 1em;
  padding: 1em; }
  article:last-child {
    margin-bottom: 0em; }

aside {
  display: table-cell;
  margin: 0;
  overflow: hidden;
  vertical-align: top;
  width: 33%; }
  aside img {
    max-width: 150px; }

footer {
  background-color: #777777;
  color: white;
  display: block;
  font-size: 1em;
  line-height: 4.5em;
  margin-top: -5em; }

header {
  background-color: #777777;
  color: white;
  display: block;
  line-height: 4.5em;
  margin-bottom: 1em;
  position: relative; }
  header:after {
    content: "";
    clear: both;
    display: block; }
  header input, header label {
    display: none; }
  header ul {
    float: right;
    list-style: none;
    margin: 0em; }
    header ul a {
      border-bottom: 1px dotted white;
      color: white;
      text-decoration: none; }
      header ul a:hover {
        border-bottom: 1px solid white; }
    header ul input, header ul label {
      display: none; }
    header ul li {
      display: inline;
      margin-left: 1em; }
      header ul li:first-child {
        margin-left: 0em; }

main {
  display: table-cell;
  vertical-align: top; }

section {
  background-color: ivory;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.66667em;
  padding: 0.66667em;
  position: relative; }
  section:before {
    content: "> "; }

/*
    media queries
*/
@media all and (max-width: 1279px) {
  .centerInLayout {
    max-width: 1200px;
    min-width: 0px;
    width: 100%; } }
/* smaller spaces and <aside> beneath <main> */
@media all and (max-width: 799px), all and (orientation: portrait) {
  /* use entire width of display now */
  .centerInLayout {
    min-width: 0px;
    padding: 0 1em;
    width: 100%; }

  /* adjust to small space between elements */
  #asideContainer {
    padding: 1em; }

  #container {
    padding: 0 1em;
    padding-bottom: 5em; }

  article {
    padding: 1em; }

  article, article:last-child, #container {
    margin-bottom: 1em; }

  footer {
    margin-top: -5em; }

  header {
    margin-bottom: 1em;
    padding: 0; }

  section {
    margin-bottom: 0.66667em; }

  section {
    padding: 0.66667em; }

  /* place <aside> under <main> instead of beneath it */
  article:last-child {
    margin-bottom: 1em; }

  #container, #rowContainer, main, aside {
    display: block; }

  #spacer {
    display: none; }

  main, aside {
    padding: 0;
    width: 100%; } }
/* move navigation into a (by default closed) menu */
@media all and (max-width: 639px) {
  #navSwitch:checked + div {
    border-bottom: 1px dotted white; }

  #navSwitch + div > ul {
    display: none; }

  #navSwitch:checked + div > ul {
    display: block;
    line-height: 1.5em;
    margin: 0em;
    padding: 1.5em;
    text-align: right;
    width: 100%; }
    #navSwitch:checked + div > ul a {
      margin: 0em; }
    #navSwitch:checked + div > ul li {
      display: block; }

  label[for="navSwitch"] {
    line-height: 2.8em;
    cursor: pointer;
    display: inline;
    float: right;
    margin-right: 1em; } }
/* smaller font for low-resolution-devices */
@media all and (max-width: 319px) {
  body {
    font-size: 0.75em; } }
/* even smaller font for lowest-resolution devices */
@media all and (max-width: 239px) {
  body {
    font-size: 0.5em; } }
