@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
/*
	font import
*/
/*
	css reset
*/
/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* 
    external fonts
*/
@font-face {
  font-family: 'Genericons';
  src: url("../media/font/genericons-regular-webfont.eot");
  src: url("../media/font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../media/font/genericons-regular-webfont.woff") format("woff"), url("../media/font/genericons-regular-webfont.ttf") format("truetype"), url("../media/font/genericons-regular-webfont.svg#genericonsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
    mixins
*/
/*
    color definitions
*/
/* base color variables */
/*
	generic classes
*/
.aperture {
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -ms-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  -o-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black; }

.bold {
  font-weight: bold; }

.disabled {
  opacity: 0.25; }

.huge {
  font-size: 3em; }

.left {
  float: left; }

.narrow {
  margin-left: 5em !important; }

.normal {
  font-weight: normal !important; }

.right {
  float: right; }

.super {
  font-size: 0.75em;
  vertical-align: super; }

.symbol {
  font-family: Genericons;
  padding-right: 0.5em;
  vertical-align: bottom; }

.underline {
  border-bottom: 1px dotted black;
  padding-bottom: 1.5em;
  margin-bottom: 1em; }

* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
  word-wrap: break-word; }

a {
  border-bottom: 1px dotted lightslategrey;
  color: lightslategrey;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid lightslategrey; }

a.anchor {
  border: none;
  color: black;
  font-weight: bold; }

body, html {
  height: 100%; }

body {
  background-color: ivory;
  font-size: 12pt;
  min-width: 300px;
  overflow-y: scroll;
  width: 100%; }

.contact {
  display: block;
  width: 75%;
  margin: 0 auto; }
  .contact img, .contact object {
    width: 100%; }

#container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px; }

em {
  font-style: normal;
  font-weight: bold; }

footer {
  border-top: 1px solid black;
  display: block;
  font-size: 0.83em;
  margin: 2.4em 2.4em;
  padding-top: 1.2em;
  text-align: center; }

h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.67em;
  margin-top: 1.33em; }

h1:first-child {
  margin-top: 0; }

h2 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em; }

header {
  border-bottom: 1px solid black;
  background-color: black;
  position: relative;
  top: -1px;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  padding-top: 20%; }
  header #header_image {
    background-image: url("/media/photo/04.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  header #next, header #previous {
    bottom: 0;
    color: white;
    cursor: pointer;
    display: block;
    min-width: 50px;
    opacity: 0.25;
    position: absolute;
    width: 5%;
    top: 0;
    -ms-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
    header #next:hover, header #previous:hover {
      opacity: 0.75; }
  header #next {
    right: 0;
    text-align: left; }
  header #previous {
    left: 0;
    text-align: right; }
  header .centered {
    line-height: 1em;
    margin-top: -0.5em;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 100%; }
  header .circle {
    background-color: ivory;
    border: 1px solid black;
    border-radius: 3em;
    bottom: -1.5em;
    cursor: pointer;
    display: block;
    font-family: Genericons;
    height: 3em;
    left: 50%;
    line-height: 4.25em;
    margin-left: -1.5em;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    width: 3em; }
    header .circle:hover {
      box-shadow: 0 0 10px black;
      opacity: 1; }
  header .link {
    color: black;
    font-family: Quicksand;
    font-weight: normal;
    line-height: 4em; }
  header .selected {
    font-weight: bold;
    opacity: 1; }
  header #de {
    margin-left: -6em; }
  header #en {
    margin-left: 3em; }
  header #hide_show:after {
    content: "\f432"; }
  header img {
    display: block;
    height: 100%;
    opacity: 0.75;
    width: 100%; }

#header_switcher:checked + header {
  margin-top: -20%; }

#header_switcher:checked + header #hide_show:after {
  content: "\f431"; }

img.left {
  display: block;
  float: left;
  margin-right: 1em;
  margin-bottom: 0.5em; }

input[type="radio"],
input[type="checkbox"] {
  display: none; }

main {
  padding: 0 2em; }

nav {
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 0 2em; }
  nav a {
    border: none;
    color: lightslategrey;
    display: block;
    float: left;
    font-size: 1.5em;
    font-weight: normal;
    margin-right: 0.67em;
    margin-bottom: 0.67em; }
    nav a:after {
      content: ">";
      opacity: 0.25; }
    nav a:before {
      content: "<";
      opacity: 0.25; }
    nav a:hover {
      border: none; }
  nav a:hover:after,
  nav input[id^="entry"]:checked + a:after {
    opacity: 1; }
  nav a:hover:before,
  nav input[id^="entry"]:checked + a:before {
    opacity: 1; }
  nav input[id^="entry"]:checked + a {
    color: black; }
  nav:after {
    clear: both;
    content: "";
    display: block; }

p {
  line-height: 1.5em;
  margin-bottom: 1em; }

ul {
  margin-left: 1.5em;
  margin-bottom: 1em; }
  ul li {
    line-height: 1.5em;
    margin-bottom: 0.5em; }
    ul li:last-child {
      margin-bottom: 0; }

ul.no_bullet {
  list-style: none;
  margin-left: 0; }
  ul.no_bullet .headline {
    display: block;
    margin-left: 7em; }
