---
layout: default
title: Hauptseite
type: static
---

{% include language.html %}

<section>
	<h1>Aktuelle Artikel</h1>
</section>

{% if paginator.posts == nil %}
	<article>
		{{ site.data.i18n['de']['main']['strings'].noArticles }}
	</article>
{% else %}
	
	{% for post in paginator.posts %}
		{% include shortPost.html post=post %}
	{% endfor %}

	{% if paginator.total_pages > 1 %}
	{% assign data = site.data.i18n['de']['main'] %}
	<article class="topBorder">
		{% if paginator.next_page %}
		<a class="readMore" href="/page{{ paginator.next_page }}/">{{ data['strings'].olderArticles }}</a>
		{% else %}
		&nbsp;
		{% endif %}

		{% if paginator.previous_page %}
		<a class="readMore floatRight" href="/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}/{% endif %}">{{ data['strings'].newerArticles }}</a>
		{% endif %}
	</article>
	{% endif %}
{% endif %}

