{% assign data = site.data.i18n[include.lang]['archive'] %}

<div id="dropDown">
<label for="dropDownSwitch">{{ data['strings'].selectAMonth }}<span class="symbol">&#xf431;</span></label>
<input type="checkbox" id="dropDownSwitch" />
<ul>			
{% assign oldValue = '' %}
{% for post in site.posts %}
	{% for category in post.categories %}
		{% if category == include.lang %}
			{% assign month = post.date | date: '%m' %}
			{% assign year = post.date | date: '%Y' %}
			{% assign value = post.date | date: '%m / %Y' %}
			{% if value != oldValue %}
				{% assign oldValue = value %}
	<li><a href="{{ data.url }}/{{ year }}/{{ month }}/">{{ value }}</a></li>	
			{% endif %}
		{% endif %}
	{% endfor %}
{% endfor %}	
</ul>
</div>