{% assign asideData = site.data.i18n[language]['aside'] %}

<img alt="{{ asideData['strings'].imageAltText }}" class="aperture" src="/media/portrait_square.jpg" />

<h2>{{ asideData.headline }}</h2>
<p>
	{{ asideData.description }}
</p>


<ul class="noBullet">
	{% for item in asideData.links %}
	<li>
		<span class="symbol">{{ item.symbol }}</span>
		<a href="{{ item.url }}">{{ item.text }}</a>
	</li>
	{% endfor %}		
</ul>

<h2>{{ site.data.i18n[language]['archive'].title }}</h2>
{% include archive.html %}

<h2>{{ asideData['strings'].tagTitle }}</h2>
<p>
	{% include tagCloud.html %}
</p>


<h2>{{ asideData['strings'].notesTitle }}</h2>
<p>
	{{ asideData['strings'].notesText }}	
</p>