{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}
{% unless site.authorized_locales contains locale %}
{% assign locale = site.default_locale %}
{% endunless %}

{% for item in site.data.i18n[locale].navigation %}

{% if page.type == item.type %}
<input type="radio" name="navigation" id="entry{{ forloop.index }}" checked="checked" />
{% else %}
<input type="radio" name="navigation" id="entry{{ forloop.index }}" />
{% endif %}

<a href="{{ item.url }}">{{ item.text }}</a>
{% endfor %}
