{% assign postData = site.data.i18n[language]['post'] %}
{% assign post = include.post %}

{% comment %} assign tag string {% endcomment %}
{% if post.tags.size == 0 %}
    {% assign tagList = postData['strings'].noTags %}
{% else %}
    {% capture tagList %}{% for tag in post.tags %}, <a href="{{ site.data.i18n[language]['tag'].url }}/{{ tag | downcase | cgi_escape }}/">{{ tag | downcase }}</a>{% endfor %}{% endcapture %}
{% endif %}


{% comment %} remove possible <p> tag from content {% endcomment %}


{% comment %} build article {% endcomment %}
<article>
	<h1><a class="headline" href="{{ post.url }}">{{ post.title }}</a></h1>
    <p>		
        <span class="symbol">&#xf307;</span><span class="date">{{ post.date | date: postData['strings'].dateFormat }}</span><br/>
        <span class="symbol">&#xf302;</span><span class="left">{{ tagList | remove_first: ', ' }}</span>
    </p>
    {{ post.excerpt }}&nbsp;<a class="readMore floatRight" href="{{ post.url }}">{{ postData['strings'].readEntireArticle }}</a>
</article>  