{% assign data = site.data.i18n[include.lang]['post'] %}
{% assign page = include.post %}


{% comment %} assign tag string {% endcomment %}
{% if page.tags.size == 0 %}
    {% assign tagList = data['strings'].noTags %}
{% else %}
    {% capture tagList %}{% for tag in page.tags %}, <a href="{{ data.url }}/tags/{{ tag | downcase | cgi_escape }}/">{{ tag | downcase }}</a>{% endfor %}{% endcapture %}
{% endif %}


{% comment %} build article {% endcomment %}
<article>
    <h1>{{ page.title }}</h1>
    <p>		
        <span class="symbol">&#xf307;</span><span class="date">{{ page.date | date: data['strings'].dateFormat }}</span><br/>
        <span class="symbol">&#xf302;</span>{{ tagList | remove_first: ', ' }}
    </p>
    {{ page.content | truncatewords: 100 }}&nbsp;<a href="{{ page.url }}">{{ data['strings'].readEntireArticle }}</a>    
</article>  