{% assign locale = include.lang %}


{% comment %} set current subdir depending on local {% endcomment %}
{% if locale == "de" %}
	{% assign subdir = "" %}
{% else %}
	{% capture subdir %}/{{ locale }}{% endcapture %}
{% endif %}


{% comment %} build tag list {% endcomment %}
{% assign tagList = "" %}
{% for tag in site.tags %}	
	{% assign tagName = tag | first %}

	{% assign tagCount = 0 %}
	{% for post in site.tags[tagName] %}
		{% assign category = post.url | truncate: 3, "" | remove: "/" %}		
		{% if category == locale %}
			{% assign tagCount = tagCount | plus: 1 %}
		{% endif %}
	{% endfor %}	

	{% if tagCount > 0 %}
		{% assign tmp = tag[0] | downcase %}
		{% assign tagList = tagList | append: tmp %}
		{% assign tagList = tagList | append: ";" %}
		{% assign tagList = tagList | append: tag[0] %}
		{% assign tagList = tagList | append: ";" %}
		{% assign tagList = tagList | append: tagCount %}
		{% unless forloop.last %}{% assign tagList = tagList | append: "," %}{% endunless %}
	{% endif %}
{% endfor %}
{% assign tagList = tagList | split: ',' | sort %}


{% comment %} show result {% endcomment %}
{% if tagList.size == 0 %}
	{{ site.data.i18n[locale]["strings"].no_tags_at_all }}
{% else %}
	{% assign strings = site.data.i18n[locale]["strings"] %}	
	{% for tag in tagList %}
		{% assign tagPair = tag | split: ';' %}
		{% capture title %}{{ tagPair[2] }}&nbsp;{% if tagPair[2] == "1" %}{{ strings.article }}{% else %}{{ strings.articles }}{% endif %}{% endcapture %}
		<a class="tag" title="{{ title }}" href="{{ subdir }}/tags/{{ tagPair[0] | cgi_escape }}/">{{ tagPair[0] }}</a>
	{% endfor %}
{% endif %}