{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}
{% unless site.authorized_locales contains locale %}
{% assign locale = site.default_locale %}
{% endunless %}

{% if locale == "de" %}
	{% assign subdir = "" %}
{% else %}
	{% capture subdir %}/{{ locale }}{% endcapture %}
{% endif %}


{% assign tagList = site.tags %}
{% capture tagNames %}{% for tag in tagList %}{{ tag[0] }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tagWords = tagNames | split:',' | sort %}


{% assign tagCounts = "0," %}
{% for tag in tagWords %}
	{% assign item = site.tags[tag] %}
	{% assign itemCount = 0 %}
	{% for post in item %}
		{% assign category = post.url | truncate: 3, "" | remove: "/" %}
		{% if category == locale %}
			{% assign itemCount = itemCount | plus: 1 %}
		{% endif %}
	{% endfor %}	
	{% assign tagCounts = tagCounts | append: itemCount %}
	{% assign taging.name = taging.name | append: tag %}
	{% assign taging.cnt = taging.cnt | append: itemCount %}
	{% unless forloop.last %}{% assign tagCounts = tagCounts | append: ',' %}{% endunless %}
{% endfor %}
{% assign tagCounts = tagCounts | split:',' %}

{% assign has_tags = "false" %}
{% for tag in tagCounts %}
{% if tag != "0" %}
{% assign has_tags = "true" %}
{% endif %}
{% endfor %}

{% if has_tags == "false" %}	
	<p><em>{{ site.data.i18n[locale].no_tags_at_all }}</em></p>
{% else %}
<p>	
	{% capture tagString %}
	{% for tag in tagWords %}
	{% assign count = tagCounts[forloop.index] %}
	{% if count != "0" %}	
	<a class="tag" title="{{ count }} {{ site.data.i18n[locale].articles }}" href="#tag_{{ tag | cgi_escape }}">
		{{ tag }}
	</a>
	{% endif %}
	{% endfor %}	
	{% endcapture %}
	{{ tagString }}
</p>

{% endif %}
