/*
    mixins
*/

@mixin vendor($property, $value) {	
	-ms-#{$property}: $value;
	-moz-#{$property}: $value;
	-o-#{$property}: $value;
	-webkit-#{$property}: $value;
	#{$property}: $value;
}


/*
    color definitions
*/

$colBackground: #f3f3f3;
$colForeground: $colBackground;

$colHeaderBackground: #404040;

$colTableLight: #ccc;
$colTableDark: #808080;

$colTextLight: $colBackground;
$colTextDark: #0c0c0c;

$colLink: #789;
$colLinkHover: $colTableLight;


/*
	sizes
*/

$heightHeader: 4.5em;
$marginDefault: 1em;
$marginHeader: 0.75em;
$lineHeight: 1.5em;
$space: 1em;
$widthAside: 40%;
$widthContent: 60%;
$widthContentMin: 1200px;


/*
	other variables
*/

$fontName: "PT Serif";
$fontMonospaceName: "Inconsolata";
$fontIconName: "Genericons";