{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}
{% unless site.authorized_locales contains locale %}
{% assign locale = site.default_locale %}
{% endunless %}

<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {{ site.name }}{% if page.title %}&nbsp;||&nbsp;{% if page.type == nil %}{{ site.data.i18n[locale].type_article }}&nbsp;{% endif %}{{ page.title }}{% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">  

  <link rel="shortcut icon" href="/media/favicon.ico" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript">
    window.onunload = function() {
      var tag = document.getElementById("header_switch");
      if (tag.checked != undefined) {
        window.name = tag.checked;
      } else {        
        window.name = ""
      }            
    }
  
    window.onload = function() {
      var hide = false;
      if (window.name == "true") {
        hide = true;
      }

      var tag = document.getElementById("header_switch");
      if (hide == true) {
        tag.checked = true;
      }
    }

    function hide_settings() {
      var tag = document.getElementById("settings_switch");
      tag.checked = false;
    }
  </script>

</head>

<body> 

  <!--[if lt IE 9]>
  <div class="deprecated_browser">
    Achtung: Sie benutzen eine veraltete Version des Internet Explorer.<br/>Die Seite wird mit hoher Wahrscheinlichkeit nicht fehlerfrei dargestellt!  
  </div>  
  <![endif]-->  
  
  <a class="anchor" name="top"></a>
  <input type="checkbox" id="header_switch" onclick="hide_settings()" />
  <header>       
    {% include header.html %}
  </header>  

  <nav>
    {% include navigation.html %}    
  </nav>    

  <div id="container">    
    <main>
      {{ content }}      
    </main>  

    <footer>
      <small>&copy; 2014 Michael Schaefer</small>
      <div style="position: absolute; bottom: 5em; right: 2em;">
        <a href="#top"><small><span class="symbol">&#xf435;</span>{% if locale == "de" %}nach oben{% else %}to the top{% endif %}</small></a>
      </div>
    </footer>
  </div>

</body>
</html>
