{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}
{% unless site.authorized_locales contains locale %}
  {% assign locale = site.default_locale %}
{% endunless %}

<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="utf-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
  <title>
    {{ site.name }}{% if page.title %}&nbsp;||&nbsp;{% if page.type == nil %}{{ site.data.i18n[locale]['strings'].type_article }}&nbsp;({{ page.title }}){% elsif page.type == 'tag' %}Tag ({{ page.title }}){% else %}{{ page.title }}{% endif %}{% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">  

  <link rel="shortcut icon" href="/media/favicon.ico" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
</head>

<body>

<div id="wrap">     
  <header>  
    <input id="navSwitch" type="checkbox" />    
    <div class="centerInLayout">
      
      <a id="homeLink" href="/{% if locale != "de" %}{{ locale }}/{% endif %}">
        Michael Schaefer
      </a>

      <label for="navSwitch"><span class="symbol">&#xf419;</span></label>            
      <ul>
        {% if locale == "de" %}
        <li><a href="/en/">English version</a></li>
        {% else %}
        <li><a href="/">Deutsche Version</a></li>
        {% endif %}
        <li><a href="{{ site.data.i18n[locale].navigation[3].url }}">{{ site.data.i18n[locale].navigation[3].text }}</a></li>
        <li><a href="{{ site.data.i18n[locale].navigation[4].url }}">{{ site.data.i18n[locale].navigation[4].text }}</a></li>
      </ul>

    </div>
  </header>   

  <div id="container" class="centerInLayout">
    <div id="rowContainer">
      <main>
        {{ content }}
      </main>      

      <aside>
        <div id="asideContainer">
          {% include aside.html lang=locale %}
        </div>
      </aside>           
    </div>  
  </div>
</div>

<footer>
  <div class="centerInLayout right">
    &copy; 2014 Michael Schaefer
  </div>
</footer>

</body>
</html>
