{% include language.html %}

<!DOCTYPE html>
<html lang="{{ language }}">

<head>    
  <title>    
    {{ site.name }}&nbsp;||&nbsp;{% if page.type == 'static' %}{{ page.title }}{% else %}{{ site.data.i18n[language][page.type].title }} ({{ page.title }}){% endif %}
  </title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />  

  <link rel="shortcut icon" href="/media/favicon.ico" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" />

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
</head>


<body>

  <!-- 
  the wrapper ensures that the site's content height is at least an entire screen
  so that the footer can be places at the end of the screen even in case the
  original content height was e.g. just half the screen's height.
  -->
  <div id="wrapper">

    <!--
    the header shall span the entire width of the screen but the actual content
    shall not so we need another layout, here a <div> with class 'contentArea'
    -->
    <header>

      <div class="contentArea">      

        <input id="menuTrigger" type="checkbox" />
        <div>

          <!-- link to the homepage -->
          <a class="navigation large" href="{{ site.data.i18n[language]['main'].url }}">
            www.michael-schaefer.org
          </a>

          <!--
          the label is connected to the <input> tag some lines above. For the navigation
          items we use an <ul> because when the screen width is small the horizontal
          alignment of the items is changed to a vertical dropdown menu. The open-and-hide
          mechanism for this menu is then triggered by the <input> tag some lines above
          and the <label> that is connected to that.
          -->
          <label for="menuTrigger"><span class="symbol"></span></label>                  
          <ul id="menu">
            {% for entry in site.data.i18n[language]['main']['otherLanguages'] %}
            <li><a class="navigation" href="{{ entry.url }}">{{ entry.text }}</a></li>
            {% endfor %}        
            <li><a class="navigation" href="{{ site.data.i18n[language]['biography'].url }}">{{ site.data.i18n[language]['biography'].text }}</a></li>
            <li><a class="navigation" href="{{ site.data.i18n[language]['imprint'].url }}">{{ site.data.i18n[language]['imprint'].text }}</a></li>
          </ul>

        </div>

      </div> 

    </header>    

    <!--
    <main> (containing the websites actual content) and <aside> (holding some personal
    information, an archive and a tag cloud) are framed by layers two <div> in order to
    make it being displayed like a table (i.e. the first <div> has 'diplay: table', the
    second 'display: table-row' and both <main> and <aside> have 'display: table-cell').
    This way is (to my knowledge) the easiest one to have <main> and <aside> beneath each
    other without the pain of floating.
    In case the screen width is small the display properties are changed such that <main>
    and <aside> are one below the other.
    -->
    <div id="contentTable" class="contentArea">

      <aside>
        {% include aside.html %}
      </aside>           

      <main>
        {{ content }}
      </main>

      <aside class="forPortraitMode">
        {% include aside.html idPostFix="2" %}
      </aside>      

    </div>

  </div>

  <!--  
  For the <footer> a similar remark as for <header> holds: Since it shall span the entire width
  of the screen a second layer with class 'contentArea' is neccessary.
  -->
  <footer>
    <div class="contentArea right">
      <span class="bold">&copy; 2014 Michael Schaefer</span>&nbsp;
      <a class="navigation" href="#wrapper"><span class="symbol"></span></a>
    </div>
  </footer>

  <!--
  MathJax support. The script tags are positioned at the end of <body> to make the website's content
  be loaded first and do the MathJax conversion afterwards.
  -->
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script>
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
  });
  MathJax.Hub.Queue(function() {
    var all = MathJax.Hub.getAllJax(), i;
    for(i=0; i < all.length; i += 1) {
      all[i].SourceElement().parentNode.className += ' hasJax';
    }
  });
  </script>

</body>

</html>
