---
layout: default
type: post
---

{% include language.html %}
{% assign postData = site.data.i18n[language]['post'] %}


{% comment %} assign tag string {% endcomment %}
{% if page.tags.size == 0 %}
    {% assign tagList = postData['strings'].noTags %}
{% else %}
    {% capture tagList %}{% for tag in page.tags %}, <a href="{{ site.data.i18n[language]['tag'].url }}/{{ tag | downcase | cgi_escape }}/">{{ tag | downcase }}</a>{% endfor %}{% endcapture %}
{% endif %}


{% comment %} build article {% endcomment %}
<section>
    <h1>{{ postData.title }}</h1>
</section>

<article>
	<h1>{{ page.title }}</h1>
	<p>		
		<span class="symbol"></span><span class="date">{{ page.date | date: postData['strings'].dateFormat }}</span><br/>
		<span class="symbol"></span><span class="left">{{ tagList | remove_first: ', ' }}</span>
	</p>
	
	{{ content }}		
</article>


{% comment %} build disqus area {% endcomment %}
<!--
<article>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'michaelschaeferorg';
    var disqus_identifier = '{{ page.url }}';
    var disqus_title = '{{ page.title }}';

    (function() {
    	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    	dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</article>
-->